body {
    background-color: #f0f0f0; /* Light grey background color */
    background: linear-gradient(135deg, #f0f0f0 25%, #d9d9d9 25%, #d9d9d9 50%, #f0f0f0 50%, #f0f0f0 75%, #d9d9d9 75%, #d9d9d9 100%);
    background-size: 56.57px 56.57px; /* Size of the pattern */
  }

table { 
  border-spacing: 1; 
  border-collapse: collapse; 
  background:white;
  border-radius:6px;
  overflow:hidden;
  width:100%;
  margin:0 auto;
  position:relative;
}
*               { position:relative }

td,th           { padding-left:8px}

thead tr        { 
  height:60px;
  background:#FFED86;
  font-size:16px;
}

.inputModal {
  margin: 10px;
}

.input-container {
  display: flex;
  flex-direction: column;
 
}
label {
  margin-bottom: 5px;
  font-weight: bold;
}
input[type="text"] {
  border: 1px solid #cccccc;
  border-radius: 3px;
  box-sizing: border-box;
}

input[type="text"]:focus 
{ box-shadow: 0 0 10px rgba(0, 123, 255, 0.5); 
  outline: none; 
}
